.container{
    height: 250px;
    border-top: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    padding: 50px;
}

.title{
    font-weight: 400;
    color: white;
    background-color: green;
    padding: 5px;
    width: max-content;
}

.linkTitle{
    text-decoration: underline;
}

.link{
    display: flex;
    align-items: center;
}

.linkText{
    margin-right: 20px;
}

.cardL{
    flex: 2;
}

.cardS{
    flex: 1;
}

.cardItem{
    margin-bottom: 20px;
}

@media screen and (max-width: 550px) {
    .container{
        height: auto;
        flex-direction: column;
    }

    .title, .linkText {
        font-size: 30px;
    }

    .cardItem{
        text-align: center;
        font-size: 15px;
    }
}